In [23]:
from argopy import DataFetcher as ArgoDataFetcher

lower_lat = 20
upper_lat = 40
lower_long = -45
upper_long = -25
lower_press = 0
upper_press = 100

start = '2022-06'
end = '2023-06'

argo_loader = ArgoDataFetcher(src='erddap', parallel=True, qc=1)

ds = argo_loader.region([lower_long, upper_long, lower_lat, upper_lat, lower_press, upper_press, start, end]).to_xarray()

In [26]:
temp = ds['TEMP']

salin = ds['PSAL']

In [27]:
print(temp)

print(salin)

<xarray.DataArray 'TEMP' (N_POINTS: 97364)>
array([21.834, 21.875, 21.876, ..., 21.054, 21.054, 21.071], dtype=float32)
Coordinates:
  * N_POINTS   (N_POINTS) int64 0 1 2 3 4 5 ... 97359 97360 97361 97362 97363
    LATITUDE   (N_POINTS) float64 31.42 31.42 31.42 31.42 ... 31.31 31.31 31.31
    LONGITUDE  (N_POINTS) float64 -40.07 -40.07 -40.07 ... -34.08 -34.08 -34.08
    TIME       (N_POINTS) datetime64[ns] 2023-01-06T02:28:00 ... 2023-01-05T1...
Attributes:
    long_name:      SEA TEMPERATURE IN SITU ITS-90 SCALE
    standard_name:  sea_water_temperature
    units:          degree_Celsius
    valid_min:      -2.0
    valid_max:      40.0
    resolution:     0.001
    casted:         1
<xarray.DataArray 'PSAL' (N_POINTS: 97364)>
array([37.207, 37.184, 37.183, ..., 36.934, 36.934, 36.942], dtype=float32)
Coordinates:
  * N_POINTS   (N_POINTS) int64 0 1 2 3 4 5 ... 97359 97360 97361 97362 97363
    LATITUDE   (N_POINTS) float64 31.42 31.42 31.42 31.42 ... 31.31 31.31 31.31
    LONGITUDE  (N_POINTS) float64 -40.07 -40.07 -40.07 ... -34.08 -34.08 -34.08
    TIME       (N_POINTS) datetime64[ns] 2023-01-06T02:28:00 ... 2023-01-05T1...
Attributes:
    long_name:      PRACTICAL SALINITY
    standard_name:  sea_water_salinity
    units:          psu
    valid_min:      0.0
    valid_max:      43.0
    resolution:     0.001
    casted:         1